.weather-card {
    background: white;
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .weather-card h2 {
    color: #333;
  }
  
  .weather-card h1 {
    color: #007bff;
  }
  
  .weather-card p {
    font-size: 18px;
  }